* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  color: #000;
  background-color: #fab534;
  border-radius: 8px;
  padding: 15px 25px 12px 25px;
}

.main-btn:hover {
  background-color: #fab534;
  color: #000;
}

.main {
  padding-left: 3rem;
  padding-left: 3rem;
}

/* navbar styling */

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: #05a68b;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
  text-decoration: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #000;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #000;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 0px 20px;
  height: 40px;
  line-height: 37px;
}

/* acquire styling */

/* .active {
  background: #fff;
  color: #000 !important;
  padding: 10px 20px !important;
  border-radius: 25px;  
} */

/* Home styling */
.box {
  margin: 0px;
  padding: 7px;
  background-color: #dafff2;
  border-style: solid;
  border-width: 1px;
  border-color: #00a98a;
  border-radius: 8px;
  display: inline-block;
}

.home h1 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}

/* slider styling */
.left_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 48%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.right_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 52%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  display: block;
  padding-left: 30px;
}

.card-border {
  border: 2px solid #004c3d;
}

.gray-light {
  background-color: #e3e0e0;
  border-radius: 25px;
  padding: 0.5rem;
}

/* footer styling */
.footer .title h4 {
  font-size: 17px !important;
}
.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}


.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}































/* janki start css */

.w3-image img {
    width: 550px;
    height: 440px;
    padding-left: 65px;
}
.navigation {
    display: flex;
    justify-content: end;
    width: 100%;
}
.menu-ul{
    display: flex;
    list-style-type: none;
    padding: 13px;
    margin-right: 96px;
}

.menu-li {
    display: block;
    padding-inline: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: math;
}
.menu-li:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 35px;
}

.image {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    justify-content: center;
    margin-top: -22px;
    padding-left: 0px;

}
.navigation-section {
    background-color:  #004C3D;
    color: white;
    width: 100%;
}

.icon {
    display: flex;
}
p {
    font-size: 16px;
    font-family: math;
    margin-top: 3px;
}
.w3-image {
    padding-left: 20px;
   
    text-align: justify;
    margin-right: 28px;
}
i.fa.fa-check {
    padding-top: 21px;
    padding-right: 4px;
    color: lightgreen;
}
button.learn {
    margin-left: 40px;
    padding: 12px 12px;
    width: 170px;
    border: 3px solid #fab534;
    background-color: #004C3D;
    color: white;
    border-radius: 12px;
}
button.sign-up {
    margin-left: 10px;
    padding: 15px 12px;
    width: 180px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #fab534;
}
body{
    margin: 0;
}
li.sale {
    padding: 9px 55px;
}
.element-html {
  margin-top: 339px;
  margin-bottom: 26px;
}
li.support {
    padding: 9px 45px;
}
h1.h1.tag {
    margin-top: 50px;
    font-family: math;
}
li.active {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 35px;
    padding: 9px 40px;
    margin-right: 8px;
}
.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004c3d;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
.main-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    margin-left: -14px;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    padding-top: 0px;
}


.icon-paragraph {
    margin-left: 20px;
    flex-grow: 1;
    font-family: math;
}
section.experience {
  background-color: #19322d;
}

h3.h3-tag {
    font-size: 20px;
    font-family: math;
}
.w-icon {
    width: 40px;
    height: 40px;
    background-color: #004c3d;
    color: white;
    border-radius: 50%;
}
.icon-paragraph1 {
    margin-left: 20px;
    flex-grow: 7;
}
i.fa.fa-cog {
    text-align: center;
    padding-left: 7px;
    padding-top: 8px;
}
.element-html {
  margin-top: 40px;
  margin-bottom: 26px;
}

i.fa.fa-group {
    text-align: center;
    padding: 7px;
}
.img-html-1 {
    margin-top: 130px;
    padding-left: 20px;
    height: auto;
}
.heading {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
h1.tag-ss1 {
  font-size: 31px;
  font-family: sans-serif;
}
h3.tagssss-2 {
  font-size: 19px;
  font-family: sans-serif;
}

i.fa.fa-bullhorn {
    padding-top: 5px;
    padding-left: 6px;
}
i.fa.fa-bar-chart {
    padding-left: 6px;
    padding-top: 6px;
}
i.fa.fa-whatsapp {
    padding-left: 9px;
    padding-top: 7px;
}
span.tag-4 {
    font-family: math;
    font-weight: 600;
}
.image-elemant-2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    margin-left: 15px;
    margin-bottom: 40px;
}
  
 .image-elemant-2 img {
    width: 11%;
    height: auto;
    margin: 5px;
  }
  
.gallary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.span0 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: math;
    letter-spacing: 2px;
    padding-top: 14px;
    padding-bottom: 12px;
}
.w3section {
    text-align: center;
    border: 2px solid lightgreen;
    border-radius: 17px;
    padding: 19px 36px;
    margin-bottom: 25px;
}

.flex0 {
    padding-top: 2px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 40px;
}
span.nav {
    font-size: 39px;
    color: #fab534;
    font-weight: 600;
}
span.average {
    font-size: 20px;
    color: antiquewhite;
    font-weight: 600;
    font-family: math;
}
.float-1 {
    display: flex;
    justify-content: center;
}
.hello-flex {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 55px;
}
  
h4.span-0 {
    text-align: center;
    font-size: 32px;
}
.w3box {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    margin-bottom: 15px;
}
h2.logo1 {
    text-align: center;
    font-size: 34px;
    color: white;
    padding-top: 40px;
    font-family: sans-serif;
}
h3.logo2 {
    text-align: center;
    font-size: 23px;
    color: #CBF2E4;
    font-family: sans-serif;

}
.button-png {
    text-align: center;
    padding-bottom: 65px;
    margin-bottom: 0px;
  }

button.png {
    padding: 16px 46px;
    font-size: 15px;
    font-family: sans-serif;
    border: 0px solid;
    border-radius: 10px;
    background-color: #fab354;
}
.logo {
    background-color: #004c3d;
    margin-top: -25px;
}
h2.box-sizing {
    font-size: 33px;
    letter-spacing: 1px;
    margin-bottom: -17px;
    font-family:  sans-serif;
    margin-top: 50px;
}
p.abc {
    margin-right: 23px;
    font-size: 17px;
    font-family: math;
}
.box {
    width: 58%;
    display: block;
    text-align: center;
    margin-left: 264px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px 0 13px -3px grey;
}
button.botton-element {
    width: 287px;
    padding: 17px;
    font-size: 17px;
    border: 0px solid;
    border-radius: 8px;
    background-color: #fab534;
    margin-bottom: 10px;
    font-family: math;
    font-weight: 600;
}
h2.element-tag {
    margin-bottom: 40px;
    margin-top: 26px;
    font-size: 33px;
    font-family: math;
    font-weight: 600;
}
button.button0tag {
    width: 250px;
    padding: 15px;
    border: 0px solid;
    border-radius: 7px;
    background-color: #479974;
    font-size: 17px;
    color: white;
    font-weight: 600;
    margin-bottom: 50px
}